<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junjia.dao.mapper.AnswerInfoMapper">
    <resultMap id="BaseResultMap" type="com.junjia.model.QuestionAnswerDO">
        <!--        <result column="id" jdbcType="INTEGER" property="id" />-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="answer_content" jdbcType="VARCHAR" property="answer_content"/>
        <result column="question_id" jdbcType="INTEGER" property="question_id"/>
        <result column="submit_person_id" jdbcType="INTEGER" property="submit_person_id"/>
        <result column="submit_person_name" jdbcType="VARCHAR" property="submit_person_name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
    </resultMap>

    <!--查询问题信息-->
    <select id="getQuestionAnswerById" resultType="com.junjia.model.QuestionAnswerDO">
        select * from question_answer_info where id = #{id}
    </select>

    <select id="getQuestionAnswerList" resultType="com.junjia.model.QuestionAnswerDO">
        select * from question_answer_info where 1 = 1
        <if test="questionId != null">
            and question_id = #{questionId}
        </if>
        order by create_time
    </select>

    <select id="getQuestionAnswerCount" resultType="java.lang.Integer">
        select count(*) from question_answer_info where 1 = 1
        <if test="questionId != null">
            and question_id = #{questionId}
        </if>
    </select>
    <!--删除用户信息-->
    <!--    <delete id="deleteById" parameterType="int">-->
    <!--        delete from user where id=#{id}-->
    <!--    </delete>-->
    <!--返回所有用户信息-->
    <!--    <select id="selectAll"  resultType="com.example.demo.entity.User">-->
    <!--    select * from user-->
    <!--    </select>-->


    <!--    <select id="getOrderListByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
    <!--        select-->
    <!--        <include refid="Base_Column_List" />-->
    <!--        from t_order where 1=1-->
    <!--        <if test="userId != null">-->
    <!--            and user_id = #{userId}-->
    <!--        </if>-->
    <!--    </select>-->


    <!--增加用户信息-->
    <insert id="addQuestionAnswerInfo" parameterType="com.junjia.model.QuestionAnswerDO">
        insert into question_answer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="answer_content != null">
                answer_content,
            </if>
            <if test="question_id != null">
                question_id,
            </if>
            <if test="submit_person_id != null">
                submit_person_id,
            </if>
            <if test="submit_person_name != null">
                submit_person_name,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--            <if test="id != null" >-->
            <!--                #{id,jdbcType=INTEGER},-->
            <!--            </if>-->
            <if test="answer_content != null">
                #{answer_content,jdbcType=VARCHAR},
            </if>
            <if test="question_id != null">
                #{question_id,jdbcType=INTEGER},
            </if>
            <if test="submit_person_id != null">
                #{submit_person_id,jdbcType=INTEGER},
            </if>
            <if test="submit_person_name != null">
                #{submit_person_name,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--根据id更改用户信息-->
    <update id="updateQuestionInfo" parameterType="com.junjia.model.QuestionInfoDO">
        update question_info
        <set>
            <if test="question_name != null">
                question_name = #{question_name,jdbcType=VARCHAR},
            </if>
            <if test="question_content != null">
                question_content = #{question_content,jdbcType=VARCHAR},
            </if>
            <if test="question_type != null">
                question_type = #{question_type,jdbcType=INTEGER},
            </if>
            <if test="modify_time != null">
                modify_time = #{modify_time,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>